// COLORS

$color-primary: #57BC90;

$color-secondary-light: #2ecc91;
$color-secondary: #015249;

$color-third: #77C9D4;

$color-fourth: #A5A5AF;

$color-grey-light: #f7f7f7;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID

// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 6rem;