// COLORS

$color-primary: #96858F;

$color-secondary: #6D7993;
$color-third: #9099A2;
$color-fourth: #D5D5D5;

$color-grey-light: #f7f7f7;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID

// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 6rem;