.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2rem;

    &__ul {
        list-style: none;

        &__li {
            margin: 0 1rem;
            display: inline-block;

            &__button {
                padding: 1rem;
            }
        }
    }

}