.landing-page {
    max-height: 87.5vh;
    background-image: linear-gradient(to bottom, rgba($color-secondary, .3), rgba(#fff, .3));

    &__main {
        display: flex;
        margin: 0 auto -1rem auto;
        width: 70%;

        &__image {
            border: 1px solid $color-grey-dark-3;
            width: 70vw;
            height: 70vh;
            z-index: -10;

            @media (orientation: portrait) {
                width: 70vw;
                height: 35vw;
            }
        }

        &__header {
            position: absolute;
            width: 70%;
            top: 65rem;
            color: rgb(4, 34, 16);
            transform: translate(0%, 0%);
            font-size: 5rem;
            padding: 0 10rem;
            background-image: linear-gradient(to bottom, rgba($color-third, .5), rgba(#fff, .5));

            @media (orientation: portrait) {
                position: relative;
                top: -1rem;
                width: 100%;
                font-size: 2.5rem;
            }

            @include respond(tab-land) {
                @media (orientation: landscape) {
                    top: 55rem;
                }
            }

            @include respond(phone) {
                @media (orientation: landscape) {
                    top: 27.5rem;
                    font-size: 4rem;
                }
            }
        }

        &__left-button {
            cursor: pointer;
            position: relative;
            top: 25rem;
            font-size: 3rem;
            height: 5rem;
            width: 5rem;
            padding: 0 1rem;
            margin-right: 2.5rem;

            border: none;
            background-image: linear-gradient(to bottom, rgba($color-primary, .7), rgba($color-secondary, .5));
            color: $color-white;
            border-radius: 2rem;

            transition: .1s ease-in;

            @media (orientation: portrait) {
                top: 15rem;
            }

            &:hover {
                background-image: linear-gradient(to bottom, rgba($color-primary, .9), rgba($color-secondary, .7));
                transform: scale(1.05);
            }

            &:active {
                transform: scale(1);
            }
        }

        &__right-button {
            cursor: pointer;
            position: relative;
            top: 25rem;
            font-size: 3rem;
            height: 5rem;
            width: 5rem;
            padding: 0 1rem;
            margin-left: 2.5rem;

            border: none;
            background-image: linear-gradient(to bottom, rgba($color-primary, .7), rgba($color-secondary, .5));
            color: $color-white;
            border-radius: 2rem;

            @media (orientation: portrait) {
                top: 15rem;
            }

            &:hover {
                background-image: linear-gradient(to bottom, rgba($color-primary, .9), rgba($color-secondary, .7));
                transform: scale(1.05);
            }

            &:active {
                transform: scale(1);
            }
        }
    }

    &__tabs {
        background-image: linear-gradient(to bottom, rgba($color-primary, .7), rgba($color-secondary, .5));
        height: 17.7vh;
        color: $color-black;

        &__ul {
            padding: 1.5rem 10%;
            display: flex;
            justify-content: space-between;
            list-style: none;
        }

        &__li {
            display: inline-block;
            padding: 1rem 1rem 1rem 1rem;
            background-image: linear-gradient(to bottom, rgba($color-primary, .7), rgba($color-secondary, .6));
            border-radius: 1rem;
            width: 20%;
            vertical-align: top;
            cursor: pointer;
            text-align: center;
            transition: .1s ease-in;

            @include respond(phone) {
                padding: 1rem;
            }

            &:hover {
                background-image: linear-gradient(to bottom, rgba($color-primary, .9), rgba($color-secondary, .7));
                transform: scale(1.05);
            }

            &:active {
                transform: scale(1);
            }

            &__image {
                display: inline-block;
            }

            &__text {
                font-weight: bold;
                color: $color-white;
                display: block;

                @include respond(phone) {
                    visibility: hidden;
                    height: 0;
                }
            }
        }
    }

}

.signup-now {
    background-image: linear-gradient(to right, rgba($color-primary, 1) .2, rgba($color-secondary, 1));
    min-height: 6.25vh;
    max-height: 10.25vh;
    padding: 1rem 0 0rem 3rem;
    border-top: 1px solid grey;
    


    &__message {
        font-size: 3rem;
        display: inline-block;
        margin-right: 4rem;
        color: $color-grey-dark-3;
    }
}

.free-demo {
    display: block;
    font-size: 2.5rem;
}