.login {
    padding: 2rem;
    font-size: 2rem;

    &__label {
        display: block;
    }
    &__input {
        display: block;
        font-size: 2rem;
    }
    &__button {
        margin: 1rem 0 0 0;
        padding: .5rem 1rem;
    }
}