.login {
    padding: 2rem;
    font-size: 4rem;
    height: 94vh;
    background-image: linear-gradient(to right, rgba($color-primary, .3), rgba($color-secondary, .3));

    &__failed {
        color: red;
        font-size: 2.5rem;
    }

    &__form {
        padding: 5rem;
        border: 1px solid black;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translateX(-50%);
        background-image: linear-gradient(to right bottom, rgba($color-primary, .6), rgba($color-secondary, .6));
        color: $color-grey-dark-3;
    }

    &__label {
        display: block;
    }
    &__input {
        display: block;
        font-size: 3rem;
    }
    &__button {
        font-size: 2rem;
        margin: 1rem 0 0 0;
        padding: .5rem 1rem;
    }

    &__signup {
        cursor: pointer;
        position: relative;
        color: $color-secondary;
        font-size: 2.5rem;
        margin-left: 5rem;
        padding: .5rem 1rem;
        display: block;
        
        &:hover {
            color: $color-fourth;
        }
    }
}