.main {
    text-align: center;
    height: 90vh;
    background-image: linear-gradient(to right, rgba($color-primary, 0.2), rgba($color-secondary, 0.3));

    &__right {
        width: 80%;
        display: inline-block;

    }

    &__month {
        text-align: center;
        font-size: 4rem;
        display: inline-block;
    }

    &__previous {
        position: absolute;
        top: 8%;
        left: 45%;
        font-size: 4rem;
    }

    &__next {
        position: absolute;
        top: 8%;
        left: 72%;
        font-size: 4rem;
    }

    &__days {
        font-size: 2.5rem;

        &__day {
            display: inline-block;
            width: 13.5%;
            text-align: center;
        }
    }

    &__block {
        cursor: pointer;
        width: 13.5%;
        display: inline-block;
        padding: 3rem;
        font-size: 4rem;
        border: 1px solid $color-grey-dark;

        &:hover {
            background-color: $color-third;
            transform: scale(1.05);
            z-index: 1;
            transition: .1s;
        }
    }

}