.nav {
    width: 100%;
    padding: 1rem 0 0rem 3rem;
    border-bottom: 1px solid grey;

    &__h1 {
        font-size: 3rem;
        display: inline-block;
        margin-right: 4rem;
    }

    &__ul {
        display: inline-block;
        list-style: none;

        &__li {
            display: inline-block;

            &__button {
                text-align: right;
                padding: 1rem;
                margin: 0 1rem;
                border-radius: 1rem;
            }
        }
    }
}