.tasks {
    background-image: linear-gradient(to right, rgba($color-secondary-light, .8), rgba($color-secondary-dark, .8));

    &__day {
        margin: 0 0 0 5rem;
        font-size: 3rem;
    }

    &__ul {

        &__li {
            padding: 1rem;
            font-size: 2.5rem;

            &__input {
                cursor: pointer;
            }

            &__label {
                display: inline-block;
                cursor: pointer;
            }

            &__text {
                display: inline-block;
            }

            &__edit {
                display: inline-block;
                font-size: 2.5rem;
                margin-right: .35rem;

                &__button {
                    font-size: 2rem;
                    padding: .5rem .5rem 0 .5rem;
                }
            }

            &__delete-button {
                font-size: 2rem;
                padding: .5rem .5rem 0 .5rem;
            }
        }
    }

    &__button {
        margin: 1rem 0 1rem 2rem;
        padding: 1rem;
    }
}