.weekly {
    text-align: center;
    height: 90vh;
    background-image: linear-gradient(to right, rgba($color-primary, 0.2), rgba($color-secondary, 0.3));

    &__toggleMonthly {
        cursor: pointer;
        font-weight: bold;
        color: $color-secondary;
        text-align: left;
        font-size: 2rem;
        left: 10%;
        top: 8%;
        position: absolute;
    }

    &__month {
        text-align: center;
        font-size: 4rem;
        display: inline-block;
    }

    &__previous {
        position: absolute;
        top: 8%;
        left: 35%;
        font-size: 4rem;
        background-color: $color-fourth;
        border-radius: 35%;

        &__button {
            width: 70%;
                        
            @media (orientation: portrait) {
                margin-top: 10rem;
            }

            @include respond(phone) {
                width: 50%;
            }

            &:hover {
                cursor: pointer;
                transition: .2s;
                transform: scale(1.1)
            }
        }
    }

    &__next {
        position: absolute;
        top: 8%;
        left: 62%;
        font-size: 4rem;
        background-color: $color-fourth;
        border-radius: 35%;

        &__button {
            width: 70%;
                        
            @media (orientation: portrait) {
                margin-top: 10rem;
            }

            @include respond(phone) {
                width: 50%;
            }

            &:hover {
                cursor: pointer;
                transition: .2s;
                transform: scale(1.1)
            }
        }
    }

    &__ul {
        position: absolute;
        top: 14%;
        width: 100%;
    }

    &__li {
        vertical-align: top;
        height: 77.5vh;
        padding: 2rem;
        display: inline-block;
        width: 14.285714286%;
    }

    &__date {
        font-size: 2rem;
        cursor: pointer;
    }

    &__days {
        font-size: 2.5rem;

        &__day {
            display: inline-block;
            width: 14.285714286%;
            text-align: center;
        }
    }

    &__tasks {

        &__ul{

            &__li {
                margin: .5rem 0;
                list-style: none;
                padding: 1rem;
                background-image: linear-gradient(to right, rgba($color-third, .5), rgba($color-third, .5));
                border: 1px solid $color-fourth;

                &:hover {
                    background-image: linear-gradient(to right, rgba($color-third, .8), rgba($color-third, .8));
                }

                &__label {

                    &__check {
                        visibility: hidden;
                    }
                }

                &__input {
                    width: 2rem;
                    height: 2rem;
                }

                &__text {
                    cursor: pointer;
                    display: inline-block;
                }

                &__edit {
                    width: 100%;
                    font-size: 2rem;
                    display: inline-block;

                    &__button {
                        padding: .5rem .25rem;
                        display: inline-block;
                        transform: translate(-60%, 50%);
                    }
                }

                &__delete-button {
                    padding: .5rem .25rem;
                    display: inline-block;
                    transform: translate(50%,-50%)
                }
            }
        }

        &__button {
            padding: .5rem 1rem;
            vertical-align: bottom;
        }
    }
}