@keyframes expandDown {
  0% {
    transform: translateY(-40%); }
  100% {
    transform: translateY(0%); } }

.other-month-day {
  opacity: .8;
  background-image: linear-gradient(to right, rgba(119, 119, 119, 0.35)); }

.overdue-task {
  opacity: .8;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.35)); }
  .overdue-task:hover {
    backface-visibility: hidden;
    background-color: red; }

.overdue-tasks {
  opacity: .8;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.35)); }

.due-tasks {
  opacity: .8;
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0.35)); }

.finished-tasks {
  opacity: .8;
  background-image: linear-gradient(to right, rgba(0, 128, 0, 0.35)); }

.current-day-tasks {
  opacity: .8;
  background-image: linear-gradient(to right, rgba(255, 255, 0, 0.35));
  font-weight: bold;
  text-decoration: underline;
  color: #000; }

.current-day-finished {
  opacity: .8;
  background-image: linear-gradient(to right, skyblue);
  font-weight: bold;
  text-decoration: underline;
  color: #000; }

.current-day {
  opacity: .8;
  font-weight: bold;
  text-decoration: underline;
  color: #000; }

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 0rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

button {
  cursor: pointer;
  color: #000; }

.login {
  padding: 2rem;
  font-size: 4rem;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  background-image: linear-gradient(to right, rgba(87, 188, 144, 0.3), rgba(1, 82, 73, 0.3)); }
  .login__form {
    padding: 5rem;
    border: 1px solid black;
    display: inline-block; }
  .login__label {
    display: block; }
  .login__input {
    display: block;
    font-size: 3rem; }
  .login__button {
    font-size: 2rem;
    margin: 1rem 0 0 0;
    padding: .5rem 1rem; }
  .login__signup {
    cursor: pointer;
    position: relative;
    color: #015249;
    font-size: 2.5rem;
    margin-left: 5rem;
    padding: .5rem 1rem; }
    .login__signup:hover {
      color: #A5A5AF; }

.signup {
  padding: 2rem;
  font-size: 4rem;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  background-image: linear-gradient(to right, rgba(87, 188, 144, 0.3), rgba(1, 82, 73, 0.3)); }
  .signup__form {
    padding: 5rem;
    border: 1px solid black;
    display: inline-block; }
  .signup__label {
    display: block; }
  .signup__input {
    display: block;
    font-size: 3rem; }
  .signup__button {
    font-size: 2rem;
    margin: 1rem 0 0 0;
    padding: .5rem 1rem; }
  .signup__login {
    cursor: pointer;
    color: #015249;
    font-size: 2.5rem;
    margin-left: 5rem;
    padding: .5rem 1rem; }
    .signup__login:hover {
      color: #A5A5AF; }

.nav {
  width: 100%;
  height: 6.25vh;
  padding: 1rem 0 0rem 3rem;
  border-bottom: 1px solid grey;
  background-color: #57BC90; }
  .nav__h1 {
    font-size: 3rem;
    display: inline-block;
    margin-right: 4rem;
    color: #fff; }
    .nav__h1:hover {
      color: #015249; }
  .nav__ul {
    float: right;
    list-style: none;
    margin-right: 3rem; }
    .nav__ul__li {
      display: inline-block; }
      .nav__ul__li__button {
        cursor: pointer;
        position: relative;
        color: #fff;
        text-decoration: none;
        padding: 2rem;
        font-size: 2rem; }
        .nav__ul__li__button:hover {
          color: #015249; }
        .nav__ul__li__button:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1rem;
          bottom: 0;
          left: 0;
          background-color: #015249;
          opacity: .3;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s; }
        .nav__ul__li__button:hover:before {
          visibility: visible;
          -webkit-transform: scale(1);
          transform: scale(1); }

.main {
  text-align: center;
  height: 90vh;
  background-image: linear-gradient(to right, rgba(87, 188, 144, 0.2), rgba(1, 82, 73, 0.3)); }
  .main__toggleWeekly {
    cursor: pointer;
    font-weight: bold;
    color: #015249;
    text-align: left;
    font-size: 2rem;
    left: 22.5%;
    top: 8%;
    position: absolute; }
  .main__right {
    width: 80%;
    display: inline-block; }
  .main__month {
    text-align: center;
    font-size: 4rem;
    display: inline-block; }
  .main__previous {
    position: absolute;
    top: 8%;
    left: 45%;
    font-size: 4rem; }
  .main__next {
    position: absolute;
    top: 8%;
    left: 72%;
    font-size: 4rem; }
  .main__days {
    font-size: 2.5rem; }
    .main__days__day {
      display: inline-block;
      width: 13.5%;
      text-align: center; }
  .main__block {
    cursor: pointer;
    width: 13.5%;
    display: inline-block;
    padding: 3rem;
    font-size: 4rem;
    border: 1px solid #777; }
    .main__block:hover {
      background-color: #77C9D4;
      transform: scale(1.05);
      z-index: 1;
      transition: .1s; }

.weekly {
  text-align: center;
  height: 90vh;
  background-image: linear-gradient(to right, rgba(87, 188, 144, 0.2), rgba(1, 82, 73, 0.3)); }
  .weekly__toggleMonthly {
    cursor: pointer;
    font-weight: bold;
    color: #015249;
    text-align: left;
    font-size: 2rem;
    left: 10%;
    top: 8%;
    position: absolute; }
  .weekly__month {
    text-align: center;
    font-size: 4rem;
    display: inline-block; }
  .weekly__previous {
    position: absolute;
    top: 8%;
    left: 35%;
    font-size: 4rem; }
  .weekly__next {
    position: absolute;
    top: 8%;
    left: 62%;
    font-size: 4rem; }
  .weekly__ul {
    position: absolute;
    top: 14%;
    width: 100%; }
  .weekly__li {
    border: 1px solid black;
    vertical-align: top;
    height: 77.5vh;
    padding: 2rem;
    display: inline-block;
    width: 14.285714286%; }
  .weekly__date {
    font-size: 2rem;
    cursor: pointer; }
  .weekly__days {
    font-size: 2.5rem; }
    .weekly__days__day {
      display: inline-block;
      width: 14.285714286%;
      text-align: center; }
  .weekly__tasks__ul__li {
    margin: .5rem 0;
    list-style: none;
    padding: 1rem;
    background-image: linear-gradient(to right, rgba(119, 201, 212, 0.5), rgba(119, 201, 212, 0.5));
    border: 1px solid #A5A5AF; }
    .weekly__tasks__ul__li:hover {
      background-image: linear-gradient(to right, rgba(119, 201, 212, 0.8), rgba(119, 201, 212, 0.8)); }
    .weekly__tasks__ul__li__label__check {
      visibility: hidden; }
    .weekly__tasks__ul__li__input {
      width: 2rem;
      height: 2rem; }
    .weekly__tasks__ul__li__text {
      cursor: pointer;
      display: inline-block; }
    .weekly__tasks__ul__li__edit {
      width: 100%;
      font-size: 2rem;
      display: inline-block; }
      .weekly__tasks__ul__li__edit__button {
        padding: .5rem .25rem;
        display: inline-block;
        transform: translate(-60%, 50%); }
    .weekly__tasks__ul__li__delete-button {
      padding: .5rem .25rem;
      display: inline-block;
      transform: translate(50%, -50%); }
  .weekly__tasks__button {
    padding: .5rem 1rem;
    vertical-align: bottom; }

.tasks {
  height: 90vh;
  background-image: linear-gradient(to bottom left, rgba(87, 188, 144, 0.5), rgba(1, 82, 73, 0.5)); }
  .tasks__day {
    margin: 0 0 0 5rem;
    font-size: 5rem; }
  .tasks__exit {
    position: absolute;
    top: 10rem;
    right: 10rem;
    font-size: 3rem;
    cursor: pointer;
    padding: 0rem 1.75rem;
    border-radius: 2rem;
    background-color: #57BC90; }
    .tasks__exit:hover {
      background-color: #015249; }
  .tasks__ul__li {
    padding: 2rem;
    font-size: 2.5rem; }
    .tasks__ul__li__input {
      cursor: pointer;
      width: 5rem;
      height: 5rem;
      position: absolute;
      margin-left: 1rem; }
    .tasks__ul__li__label {
      visibility: hidden;
      transform: scale(0);
      display: inline-block;
      cursor: pointer;
      height: 3rem;
      width: 3rem;
      border: 5px solid #57BC90;
      border-radius: 50%;
      position: absolute;
      font-size: 1.6rem; }
      .tasks__ul__li__label__check {
        font-size: 5rem;
        position: relative;
        top: -3rem;
        left: -1rem;
        color: #015249; }
    .tasks__ul__li__text {
      display: inline-block;
      margin-left: 9rem; }
    .tasks__ul__li__edit {
      display: inline-block;
      font-size: 2.5rem;
      margin-right: .35rem; }
      .tasks__ul__li__edit__button {
        font-size: 2rem;
        padding: .5rem .5rem 0 .5rem; }
    .tasks__ul__li__delete-button {
      font-size: 2rem;
      padding: .5rem .5rem 0 .5rem; }
  .tasks__button {
    margin: 1rem 0 1rem 2rem;
    padding: 1rem; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  height: 6.25vh;
  background-color: #57BC90; }
  .footer__ul {
    list-style: none;
    margin-right: 3rem; }
    .footer__ul__li {
      display: inline-block; }
      .footer__ul__li__button {
        cursor: pointer;
        position: relative;
        color: #fff;
        text-decoration: none;
        padding: 2rem;
        font-size: 2rem; }
        .footer__ul__li__button:hover {
          color: #015249; }
        .footer__ul__li__button:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1rem;
          top: 0;
          left: 0;
          background-color: #015249;
          opacity: .3;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s; }
        .footer__ul__li__button:hover:before {
          visibility: visible;
          -webkit-transform: scale(1);
          transform: scale(1); }

.notifications {
  width: 20%;
  height: 93.75vh;
  display: block;
  float: left;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  z-index: -1;
  background-image: linear-gradient(to bottom right rgba(87, 188, 144, 0.1), rgba(87, 188, 144, 0.1)); }
  .notifications__header {
    font-size: 2.25rem;
    border-bottom: 1px solid #000; }
  .notifications__li {
    border-bottom: 1px solid black; }
    .notifications__li:hover {
      backface-visibility: hidden;
      background-image: linear-gradient(to bottom right rgba(87, 188, 144, 0.4), rgba(87, 188, 144, 0.4));
      color: #000; }
      .notifications__li:hover .notifications__options {
        visibility: visible;
        display: inline-block;
        -webkit-transform: scale(1);
        transform: scale(1);
        animation-name: expandDown;
        animation-duration: .5s;
        animation-timing-function: ease-out; }
  .notifications__note {
    font-size: 2rem;
    display: block; }
  .notifications__options {
    visibility: hidden;
    display: none;
    -webkit-transform: scale(0);
    transform: scale(0); }
  .notifications__checkbox {
    visibility: hidden; }
  .notifications__check, .notifications__delete, .notifications__due {
    position: relative;
    text-decoration: none;
    padding: 0 .5rem;
    cursor: pointer; }
    .notifications__check:hover, .notifications__delete:hover, .notifications__due:hover {
      color: #015249; }
    .notifications__check:before, .notifications__delete:before, .notifications__due:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2.5rem;
      bottom: 1;
      left: 0;
      background-color: #015249;
      opacity: .3;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    .notifications__check:hover:before, .notifications__delete:hover:before, .notifications__due:hover:before {
      backface-visibility: hidden;
      visibility: visible;
      -webkit-transform: scale(1);
      transform: scale(1); }

.youtube {
  max-width: 42.7rem;
  position: fixed;
  z-index: 20; }
  .youtube__handle {
    cursor: grab;
    padding: .5rem 2rem;
    border: 2px solid #A5A5AF;
    background-color: #015249;
    color: #fff; }
    .youtube__handle:active {
      cursor: grabbing; }
  .youtube__header {
    margin: 0rem; }
  .youtube__minimize, .youtube__exit {
    position: relative;
    cursor: pointer;
    float: right;
    width: 2rem;
    font-size: 2rem;
    transform: translate(0, -100%); }
  .youtube__minimize {
    font-size: 2rem; }
    .youtube__minimize__checkbox {
      visibility: hidden; }
      .youtube__minimize__checkbox:checked ~ .youtube__main {
        visibility: hidden; }
  .youtube__main {
    padding: .5rem;
    border: 1px solid #A5A5AF;
    background-image: linear-gradient(to bottom right, rgba(87, 188, 144, 0.9), rgba(87, 188, 144, 0.9));
    color: #000;
    z-index: 9;
    transform: translate(0, -5%); }
  .youtube__current__video {
    height: 22.7rem;
    width: 40rem; }
  .youtube__current__details {
    font-size: 1.2rem; }
  .youtube__search__input {
    display: inline-block;
    font-size: 2rem;
    width: 60%; }
  .youtube__search__button {
    margin-left: .5rem;
    display: inline-block; }
  .youtube__ul {
    border: 1px solid #015249;
    overflow-y: scroll;
    height: 26rem; }
  .youtube__li {
    border-bottom: 1px solid #015249;
    padding: 1rem; }
    .youtube__li__thumbnail {
      width: 15rem;
      height: 10rem;
      display: inline-block; }
    .youtube__li__details {
      margin-left: 1.5rem;
      width: 50%;
      display: inline-block;
      font-size: 1.4rem;
      transform: translateY(-35%); }
