@keyframes expandDown {
    0% {
        transform: translateY(-40%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
        color: $color-black;
    }

    60% {
        color: $color-black;
    }

    80% {
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }

}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
        color: $color-black;
    }

    60% {
        color: $color-black;
    }

    80% {
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }

}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
        color: $color-black;
    }

    60% {
        color: $color-black;
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0rem);
    }

}

@keyframes moveInLeftMain {
    0% {
        opacity: 0;
        transform: translate(-100rem, 2rem);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, 2rem);
    }

}

@keyframes moveInBottomMain {
    0% {
        opacity: 0;
        transform: translate(-50%, 100rem);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, 2rem);
    }

}

@keyframes moveInTopMain {
    0% {
        opacity: 0;
        transform: translate(-50%, -100rem);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, 2rem);
    }

}

@keyframes moveInRightMain {
    0% {
        opacity: 0;
        transform: translate(100rem, 2rem);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, 2rem);
    }

}