.other-month-day {
    opacity: .8;
    background-image: linear-gradient(to right, rgba($color-grey-dark, .35));
}

.overdue-task {
    opacity: .8;
    background-image: linear-gradient(to right, rgba(red, .35));

    &:hover {
        backface-visibility: hidden;
        background-color: red;
    }
}

.overdue-tasks {
    opacity: .8;
    background-image: linear-gradient(to right, rgba(red, .35));
}

.due-tasks {
    opacity: .8;
    background-image: linear-gradient(to right, rgba(blue, .35));
}

.finished-tasks {
    opacity: .8;
    background-image: linear-gradient(to right, rgba(green, .35));
}

.current-day-tasks {
    opacity: .8;
    background-image: linear-gradient(to right, rgba(yellow, .35));
    font-weight: bold;
    text-decoration: underline;
    color: $color-black;
}

.current-day-finished {
    opacity: .8;
    background-image: linear-gradient(to right, rgba(skyblue, 1));
    font-weight: bold;
    text-decoration: underline;
    color: $color-black;
}

.current-day {
    opacity: .8;
    font-weight: bold;
    text-decoration: underline;
    color: $color-black;
}