.youtube {
    min-width: 42.7rem;
    max-width: 42.7rem;
    position: fixed;
    z-index: 20;

    &__handle {
        min-width: 42.7rem;
        cursor: grab;
        padding: .5rem 2rem;
        border: 2px solid $color-fourth;
        background-color: $color-secondary;
        color: $color-white;

        &:active {
            cursor: grabbing;
        }
    }

    &__header {
        margin: 0rem;
    }

    &__minimize, &__exit {
        position: relative;
        cursor: pointer;
        float: right;
        width: 2rem;
        font-size: 2rem;
        transform: translate(0, -100%);
        color: $color-white;
    }

    &__minimize {
        font-size: 2rem;

        &__checkbox {
            visibility: hidden;
            &:checked ~ .youtube__main  {
                visibility: hidden;
                position: absolute;
                left: -1000rem;
            }
        }
    }

    &__main {
        padding: .5rem;
        border: 1px solid $color-fourth;
        background-image: linear-gradient(to bottom right, rgba($color-primary, .9), rgba($color-primary, .9));
        color: $color-black;
        z-index: 9;
        transform: translate(0, -5%);
    }

    &__current {

        &__video {
            height: 22.7rem;
            width: 40rem;
        }
        &__details {
            font-size: 1.2rem;
        }
    }

    &__search {

        &__input {
            display: inline-block;
            font-size: 2rem;
            width: 60%;
        }
        &__button {
            margin-left: .5rem;
            display: inline-block;
        }
    }

    &__ul {
        border: 1px solid $color-secondary;
        overflow-y: scroll;
        height: 26rem;
    }

    &__li {
        border-bottom: 1px solid $color-secondary;
        padding: 1rem;

        &__thumbnail {
            width: 15rem;
            height: 10rem;
            display: inline-block;
        }

        &__details {
            margin-left: 1.5rem;
            width: 50%;
            display: inline-block;
            font-size: 1.4rem;
            transform: translateY(-35%);
        }
    }
}